/***********************************************************
           Main Page - Background and Header
************************************************************/
/*   3     #    */

 * {
     box-sizing: border-box;
 } 

body {
     margin: 0;
}

.main-body {
     width: 100%;
     margin: 0;
     background-image: url("../img/tekstura-poloski-seryy-ugol.jpg");
     background-attachment: fixed;
     background-position: 50% 50%;
}


.header-box {
     background-color: #B1E6FD;
     height: 393px;
     width: 1026px;
     border-radius: 50px;
     text-align: center;
     margin: 17px auto 65px;
     opacity: 0.8;
}

.logo {
     float: left;
     list-style: none;
     list-style-position: inside;
     display: inline-block;
     margin: 0 49px 0 0;
     padding: 0;
}

.logo img {
     width: 324px;
     border-radius: 50px;
}

.header-spree {
     list-style: none;
     list-style-position: inside;
     margin: 29px 0 0 -31px;
     padding: 0;
     float: left;
     display: inline-block;
}

.header-spree h1 {
     font-size: 200px;
     padding: 0 0 0 0;
}

.header-spree h2 {
     font-size: 50px;
}

.header-spree h1,
.header-spree h2 {
     margin: 0;
     display: inline-block;
     text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}








/***********************************************************
                    Main Page - Content
************************************************************/
/*   3     #    */


.main-content {
     margin-top: 10px;
}

.main-content ul {
     display: inline-block;
     list-style-position: inside;
     list-style: none;
     width: 79.5%;
     margin: 0 10% 0 10.5%;
     padding: 0;
}

.main-content li,
.main-location img {
     margin-top: 52px;
}

.main-content img {
     height: 100%;
     width: 100%;
}

.spree {
     margin-bottom: 10px;
}

.main-content .float-left {
     float: left;
     width: 47%;
}

.main-content .float-right {
     float: right;
     width: 47%;
}

.what-parkour {
     margin-bottom: 0px;
}









/***********************************************************
                         Footer
************************************************************/
/*   3     #    */


.t-border-top-footer,
.t-border-bottom-footer {
     display: block;
     border-top: 7px solid;
     border-radius: 40%;
     border-top-color: #fff;
     opacity: 0.6;
}

.t-border-top-footer {
     margin: 52px 10% 16px;

}


footer ul {
     display: inline-block;
     list-style: none;
     list-style-position: inside;
     width: 79.5%;
     margin: 0 10% 0 10.5%;
     padding: 0;
}

.footer-profile {
     float: left;
     width: 50%;
     text-align: center;
}

.footer-contact {
     float: right;
     width: 50%;
     text-align: center;
}

footer a {
     text-decoration: none;
     font-size: 50px;
     color: #fff;
}


.t-border-bottom-footer {
     margin: 16px 10% 16px;
}








/***********************************************************
                      Spree History
************************************************************/
/*   3     #    */


























/***********************************************************
                          Roots
************************************************************/
/*   3     #    */


















/***********************************************************
                    What Is Parkour
************************************************************/
/*   3     #    */























/***********************************************************
                          Mark
************************************************************/
/*   3     #    */


.mark-nav {
     width: 34%;
     margin: 44px auto;
}

.mark-nav ul {
     width: 100%;
     display: inline-block;
     list-style: none;
     padding: 0;
     text-align: center;
}

.mark-nav li {
     margin: 0 auto;
     list-style-position: inside;
}

.mark-nav a,
.mark-nav:visited {
     font-size: 30px;
     text-decoration: none;
     color: #000;
}








/***********************************************************
                          Trace
************************************************************/
/*   3     #    */










/***********************************************************
                          No Trace
************************************************************/
/*   3     #    */


.mark-nav li {
     font-size: 30px;

}

























/***********************************************************
                         Traveled
************************************************************/
/*   3     #    */

























/***********************************************************
                         Misssion
************************************************************/
/*   3     #    */






























/***********************************************************
                         Training
************************************************************/
/*   3     #    */
































/***********************************************************
                        Locations
************************************************************/
/*   3     #    */







/***********************************************************
                           Indoor
************************************************************/
/*   3     #    */


.indoor-section {
     margin: 90px 0 0;
}

.left-colume {
     float: left;
     width: 40%;
     margin: 0 0 0 10%;
     border-right: solid;
     border-right-width: 2px;
     border-left: solid;
     border-left-width: 4px;
     border-color: #ED8926;
}

.right-colume {
     float: right;
     width: 40%;
     margin: 0 10% 0 0;     
     border-right: solid;
     border-right-width: 4px;
     border-left: solid;
     border-left-width: 2px;
     border-color: #ED8926;
}



/***********************************************************
                          Outdoor
************************************************************/
/*   3     #    */


.nav-outside ul {
     list-style: none;
     margin: 0 20%;
     padding: 0;
}

.nav-outside li {
     display: inline-block;
}

.center-left a {
     padding-right: 2px;
}

.center-right a {
     padding: 0 3px 0 1px;
}

.center-right,
.right {
     float: right;
}

.center-left {
     margin: ;
}

.center-right {
     margin: ;
}

.center-left,
.left {
     float: left;
}

.nav-outside a,
.selected {
     text-decoration: none;
     font-size: 30px;
     text-align: center;
}











/***********************************************************
                         Profile
************************************************************/
/*   3     #    */

.profile-header {
     width: 60%;
     margin: -90px 20% 0;
     display: inline-block;
}

.profile-header section  {
     display: inline-block;
     text-align: center;
     width: 100%;
}

.profile-header h1 {
     font-size: 100px;
     margin: 14px 0 14px 0;

}

.profile-header ul {
     list-style: none;
     display: inline-block;
     width: 100%;
     margin: 0;
     padding: 0;
}

.profile-header li {
     display: inline-block;
}

.profile-header a,
.profile-header p {
     text-decoration: none;
     color: #000;
     font-size: 30px;
}

.t-border-profile {
     display: block;
     margin: 0;
     border-top: 7px solid;
     border-radius: 40%;
     border-top-color: #000;
     opacity: 0.7;
}




/***********************************************************
                        Members-list
************************************************************/
/*   3     #    */


.ds p {
     margin: -4px 0 -10px 0;
}

.dsm p {
     margin-bottom: -10px;
}

.dsm {
     margin: -2px 0 -8px;
     text-decoration: none;
     font-size: 40px;
}

.profile-header .selected p {
     margin: 0;
}


.profile-nav {
     width: 80%;
     margin: 0 10%;
     display: inline-block;
}

.profile-nav ul {
     list-style: none;
     display: inline-block;
     width: 80%;
     margin: 17px 10% 0;
     padding: 0;
     text-align: center;
}

.profile-nav li {
     display: inline-block;
     margin: 0 1.9230769%;
     font-size: 26px;
     font-weight: bold;
}

.profile-nav a:link,
.profile-nav a:visited {
     text-decoration: none;
     color: #000;
}

.section-nav {
     margin: 18px 10% 0;
     display: inline-block;
}

.section-nav h1 {
     font-size: 30px;
     margin-right: 105px;
     text-align: center;
}

.section-nav ul {
     display: inline-block;
}

.section-nav li {
     width: 100%;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: 3px;
     padding: 0;
}

.section-nav li,
.section-nav h1 {
     background-color: rgba(225,225,225,0.65);
     display: block;
}

.section-nav a {
     text-decoration: none;
     color: #000;
}

.section-nav h1:nth-of-type(even) {
     background-color: rgba(121,121,121,0.65);
}

.section-nav h1:nth-of-type(odd) {
     background-color: rgba(173,170,170,0.65);
}





/***********************************************************
                       Member-Profile
************************************************************/
/*   3     #    */

.members-profile-body {
     background-image: url("../img/profile-background.jpg");
}

.members-profile-header {
     background-color: #B1E6FD;
     margin: -105px 12.5% 31px;
     padding: 17px 0;
     opacity: 0.95;
     border-radius: 50px 10px;
     background-image: radial-gradient(circle , #B1E6FD 60%,  #E4F0FE);

}

.members-profile-header h1 {
     font-size: 75px;
     text-align: center;
     margin: 0;
     text-shadow: 0 1px 0 #ccc,
          0 2px 0 #c9c9c9,
          0 3px 0 #bbb,
          0 4px 0 #b9b9b9,
          0 5px 0 #aaa,
          0 6px 1px rgba(0,0,0,.1),
          0 0 5px rgba(0,0,0,.1),
          0 1px 3px rgba(0,0,0,.3),
          0 3px 5px rgba(0,0,0,.2),
          0 5px 10px rgba(0,0,0,.25),
          0 10px 10px rgba(0,0,0,.2),
          0 20px 20px rgba(0,0,0,.15);
}

.profile-pic-info {
     background-color: darkgray;
     display: inline-block;
     margin: 7px 12.5% 0;
     border-radius: 10px 50px 0 0;
     opacity: 0.97;

}

.profile-pic-info img {
     width: 57.5%;
     float: left;
     margin-right: 1%;
     border-radius: 10px 0 0 0;
}

.profile-pic-info ul {
     display: inline-block;
     width: 40.5%;
     padding-left: 0;
     float: right;
     margin-left: 1%;
     list-style-position: inside;

}

.profile-pic-info li,
.profile-about li {
     font-weight: bold;
     font-size: 20px;
}

.profile-pic-info p,
.profile-about-ul p {
     margin: 4px 0 4px 19px;
     font-size: 18px;
}

.profile-about {
     background-color: lightgray;
     display: inline-block;
     margin: -4px 12.5% 0;
     border-radius: 0 0 10px 50px;
     opacity: 0.97;
     width: 75%;
}

.profile-about ul {
     width: 57.5%;
     float: left;
     margin-right: 1%;
     display: inline-block;
     padding: 16px 0 0 34px;
}

.profile-about-text {
     width: 40.5%;
     float: right;
     margin-left: 1%;
     padding-right: 7px;
     font-size: 20px;

}






/***********************************************************
                      Create-Profile
************************************************************/
/*   3     #    */

.t-margin {
     margin-top: 83px;
}

.info-needed {
     width: 75%;
     border: 2px dashed #555;
     margin: 90px auto;
     border-radius: 20px;
}

.email {
     margin: 10px 0 0 13px;
     padding-right: 25px;
}

.info-needed ol {
     margin: 42px 0 0 42px;
     padding-right: 55px;
}

.info-needed ol,
.email {
     width: 100%;
}

.email,
.info-needed span p {
     font-size: 30px
}

.info-needed ol p {
     font-size: 25px;
}

.info-needed a {
     text-decoration: none;
}

.info-needed span p {
     margin: 0 13px 15px;
}







/***********************************************************
                         Contact
************************************************************/
/*   3     #    */























/***********************************************************
                         DRY CSS
************************************************************/
/*   3     #    */


.location-h1 {
     width: 62%;
     margin: -21px 19% 0;
     text-align: center;
     font-size: 131px;
     border-right: solid;
     border-right-width: 4px;
     border-left: solid;
     border-left-width: 4px;
     color: #000;
}

.back {
     font-size: 115px;
     display: inline-block;
     margin-top: -35px;
}

.back a:link,
.back a:visited {
     text-decoration: none;
     color: #ED8926;
}

.t-border {
     display: block;
     margin: 0 10% 0;
     border-top: 7px solid;
     border-radius: 40%;
     border-top-color: #fff;
     opacity: 0.7;
}

.l-r-border {
     border-right: 3px solid #ED8926;
     border-left: 3px solid #ED8926;
}





.ct-h1 {
     width: 67%;
     margin: -21px auto 0;
     padding: 0 3.5%;
     text-align: center;
     font-size: 131px;
     border-right: solid;
     border-right-width: 4px;
     border-left: solid;
     border-left-width: 4px;
     border-color: #ED8926;
}

.ct-ul {
     list-style: none;
     display: inline-block;
     width: 100%;
     margin-bottom: -8px;
     padding: 0;
}

.ct-nav-1 {
     border-bottom: solid;
     border-bottom-width: 4px;
     border-top: solid;
     border-top-width: 4px;
     margin: -199px 20% 0;
     padding-top: 183px;
     border-color: #ED8926;
}

.ct-nav-11 {
     border-bottom: solid;
     border-bottom-width: 4px;
     border-top: solid;
     border-top-width: 4px;
     margin: -199px 20% 0;
     padding-top: 221px;
     border-color: #ED8926;
}

.ct-nav-2 {
     border-bottom: solid;
     border-bottom-width: 4px;
     border-top: solid;
     border-top-width: 4px;
     margin: -350px 20% 0;
     padding-top: 332px;
     border-color: #ED8926;
}

.ct-nav-22 {
     border-bottom: solid;
     border-bottom-width: 4px;
     border-top: solid;
     border-top-width: 4px;
     margin: -350px 20% 0;
     padding-top: 372px;
     border-color: #ED8926;
}

.ct-li-l {
     float: left;
}

.ct-li-r {
     float: right;
}

.ct-a {
     text-decoration: none;
     font-size: 40px;
     color: #000;
}


.img-100 {
     width: 100%;
}



.fade {
     background-color: rgba(225,225,225,0.8);
}

.fade-4 {
     background-color: rgba(225,225,225,0.4);
}

.fade-6 {
     background-color: rgba(225,225,225,0.6);
}

.ct-bg {
     position: fixed;
     z-index: -1;
}





.selected,
.selected p,
.selected a {
     color: #773802;
}





.hover a:hover {
     color: #AB6900;
}





.ds {
     margin: -6px 0 -8px;
     text-decoration: none;
     font-size: 40px;
}













.ct-p-0 {
     width: 80%;
     margin: 0 10% 0;
     padding: 1px 30px;
}

.ct-p-90 {
     width: 80%;
     margin: 90px 10% 0;
     padding: 1px 30px;
}

.ct-p-0 p {
     font-size: 25px;
}

.ct-p-90 p {
     font-size: 25px;
}





/*Something > something {

}*/

/*.btn + .btn {

}*/
